// 如果元件化上製作困難就放在一起

.home-product {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 20px 0 auto;
        height: 80vh;
        @media (max-width:768px) {
            max-width: 80%;
        }

        .home-circle {
            position: relative;
            max-width: 100%;
        }

        .home-web {
            width: 120%;
            position: absolute;
            top: -5%;
            left: -10%;
        }
    }